<h1>Personal Finance Tracker</h1>

<hr>

<h2>Dashboard</h2>

<p><b>Total Income:</b> ₹{{ totalIncome }}</p>
<p><b>Total Expense:</b> ₹{{ totalExpense }}</p>
<p><b>Balance:</b> ₹{{ balance }}</p>

<hr>

<h2>Add Transaction</h2>

<p>
Amount:<br>
<input type="number" [(ngModel)]="newTransaction.amount">
</p>

<p>
Category:<br>
<input type="text" [(ngModel)]="newTransaction.category">
</p>

<p>
Transaction Type:<br>
<select [(ngModel)]="newTransaction.transactionType">
    <option value="INCOME">INCOME</option>
    <option value="EXPENSE">EXPENSE</option>
</select>
</p>

<p>
Description:<br>
<input type="text" [(ngModel)]="newTransaction.description">
</p>

<p>
Date:<br>
<input type="date" [(ngModel)]="newTransaction.date">
</p>

<button (click)="addTransaction()">
    Add Transaction
</button>

<hr>

<h2>Recent Transactions</h2>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Category</th>
    <th>Amount</th>
    <th>Type</th>
    <th>Description</th>
    <th>Date</th>
</tr>

<tr *ngFor="let t of transactions">
    <td>{{ t.id }}</td>
    <td>{{ t.category }}</td>
    <td>₹{{ t.amount }}</td>
    <td>{{ t.transactionType }}</td>
    <td>{{ t.description }}</td>
    <td>{{ t.date }}</td>
</tr>

</table>

<hr>

<h2>Add Budget</h2>

<p>
Category:<br>
<input type="text" [(ngModel)]="newBudget.category">
</p>

<p>
Monthly Limit:<br>
<input type="number" [(ngModel)]="newBudget.monthlyLimit">
</p>

<p>
Month:<br>
<input type="number" [(ngModel)]="newBudget.month">
</p>

<p>
Year:<br>
<input type="number" [(ngModel)]="newBudget.year">
</p>

<button (click)="addBudget()">
    Add Budget
</button>

<hr>

<h2>Budgets</h2>

<table border="1" cellpadding="10">

<tr>
    <th>ID</th>
    <th>Category</th>
    <th>Monthly Limit</th>
    <th>Month</th>
    <th>Year</th>
</tr>

<tr *ngFor="let b of budgets">
    <td>{{ b.id }}</td>
    <td>{{ b.category }}</td>
    <td>₹{{ b.monthlyLimit }}</td>
    <td>{{ b.month }}</td>
    <td>{{ b.year }}</td>
</tr>

</table>